atomicwrites
attrs
certifi
click
click-plugins
cligj
colorama
coverage
Cython
et-xmlfile
geopandas
Fiona
geopy
gdal
iniconfig
jdcal
munch
numpy
openpyxl
packaging
pandas
pluggy
py
pyparsing
pyproj
PySide6
pytest
pytest-qt
python-dateutil
pytz
Shapely
shiboken6
six
toml
tqdm
